<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="dayone.SeleniumDemo"/>
      <class name="day2.HandleMultipleWindow"/>
      <class name="DayThree.AssignmentOne"/>
      <class name="day2.HandleDynamicElements"/>
      <class name="day2.HandleAutoSuggestions"/>
      <class name="day2.DragDropExample"/>
      <class name="day2.HandleFrames"/>
      <class name="day2.ActionsClassExamples"/>
      <class name="day2.ExplicitWaitDemo"/>
      <class name="DayThree.MyFisrtTestNGTest"/>
      <class name="dayone.AssignmentOne"/>
      <class name="DayThree.ValidateLogin"/>
      <class name="day2.HandleMultipleWindow2"/>
      <class name="dayone.Assignment"/>
      <class name="day2.HandleAlert"/>
      <class name="dayone.FirstWebScript"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
